.btn{
    border: 2px solid black;
    border-radius: 1rem;
    background-color: white;
    color: black;
    height: 2rem;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
.activebtn{
    background-color: black;
    color: white;
}

.width30rem{
    width: 30rem;
}

.smallpsize{
    font-size: 1rem;
    font-weight: 200;
}